<!DOCTYPE html>
<html>
<head>
    <title>16x16 Analogue Signal Routing Matrix</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="container">
    <h2>16x16 Analogue Signal Routing Matrix</h2>

    <div class="layout">

        <!-- LEFT -->
        <div class="left">
            <h2>Breadboard connections</h2>
            <svg id="breadboard" viewBox="0 0 380 180"></svg>
        </div>

        <!-- RIGHT -->
        <div class="right">
            <h2>User interactions</h2>
            <!--
            <label>Connect desired routes below</label>
                 
            <div id="xlabel1">X1:</div>
            <div id="ylabel1">Y1:</div>
            <div id="xlabel2">X2:</div>
            <div id="ylabel2">Y2:</div>
             -->
            <div id="routinglabel">Routing Options: Disconnected</div>

            <div class="routing-controls">

                <label class="switch">
                    <input type="checkbox" id="routingToggle">
                    <span class="slider round"></span>
                </label>

                <button id="clearBtn">Clear Routes</button>
                <button id="removelast">Remove last Route</button>

            </div>
        </div>

    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
